* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

/* Result style here */
.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.result span {
  display: block;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 18px;
  padding: 20px 0;
}
.result div {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: auto;
}

div > h1 {
  font-size: 4rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  padding-top: 20px;
}
.result div > span {
  padding-top: 0;
}

.result h2 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.8rem;
  padding: 20px 0 10px;
  letter-spacing: 1px;
}

.result p {
  color: hsl(0, 0%, 100%, 0.5);
  text-align: center;
  font-size: 18px;
  padding: 0 30px 40px;
}

/* summary style here */
.summary h2 {
  color: hsl(224, 30%, 27%);
  padding: 20px 20px 0;
}

.summary ul li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  padding: 10px;

}
li i {
  font-size: 1.2rem;
  padding-right: 10px;
}
li:first-child {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);

  border-color: rgb(221, 19, 19);
}
li div {
  float: right;
}
li div span {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
li div span ~ span {
  color: hsl(224, 30%, 27%, 0.5);
  font-weight: 800;
}
li:last-child {
  background-color: hsl(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%, 0.8);
}
li:nth-child(2) {
  background-color: hsl(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
li:nth-child(3) {
  background-color: hsl(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%, 0.7);
}
.summary button {
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  display: block;
  margin: auto;
  width: 90%;
  padding: 20px;
  border-radius: 30px;
}

/* media query */
@media (min-width: 768px) {
  .container {
    display: flex;
    color: hsl(0, 0%, 100%);
    width: 720px;
    margin: 100px auto 0;
    border-radius: 30px;
    box-shadow: 1px 10px 20px 20px hsl(221, 100%, 96%);
  }
  .result {
    border-radius: 30px;
    width: 50%;
  }
  .result span {
    padding-top: 45px;
  }
  .result div {
    margin-top: 15px;
  }
  .result p {
    font-size: 1.1rem;
    padding: 10px 50px 40px;
  }
  .summary {
    width: 50%;
  }
  .summary h2 {
    padding: 40px 0 0 37px;
  }
  .summary ul li {
    width: 80%;
    font-size: 1rem;
  }
  .summary button {
    width: 80%;
    font-size: 1rem;
    padding: 10px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
   
   .result div {
     height: 130px;
     width: 130px;
   }  

   div > h1 {
     font-size: 3rem;
     padding-top: 25px;
   }

   .result h2 {
     font-size: 1.5rem;
   }

   .result p {
     font-size: 1rem;
   }

   .summary h2, .summary ul li, .summary button {
      font-size: 1rem;
   }
  
   .summary ul li {
      font-size: 1rem;
    }

    .summary button {
       padding: 1rem;
    }

}